<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Site Under Maintenance</h1>
    <p>This site is currently under maintenance. Please come back later.</p>
    <p><a href="#">Mail me when the site is up and running.</a></p>
  </body>
</html>
